<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid"> 
        {{#if user}}
            <a class="navbar-brand" style="margin-left: 10px;">Hi {{user.name}}</a>
            {{else}}
            <a class="navbar-brand" style="margin-left: 10px;">Gobuster and Nmap</a>
        {{/if}}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto"> 
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                {{#if user}}
                    <li class="nav-item"><a class="nav-link" href="/gobuster">Gobuster</a></li>
                    <li class="nav-item"><a class="nav-link" href="/nmap">Nmap</a></li>
                    {{#if (eq user.name "Admin")}}
                        <!-- Only display this link if the username is "Admin" -->
                        <li class="nav-item"><a class="nav-link" href="/executeCommand">Command</a></li>
                    {{/if}}
                    <li class="nav-item"><a class="nav-link btn btn-danger" href="/auth/logout">Logout</a></li>
                {{else}}
                    <li class="nav-item"><a class="nav-link btn btn-success" href="/login">Login</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">

    <h1>Home</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Gobuster</h3>
                    <p class="card-text">
                        Gobuster is a command-line tool designed for directory and file brute-forcing. It aids in the discovery of hidden paths and directories on web servers. This tool operates by launching dictionary-based attacks, attempting to enumerate and locate paths that might not be readily visible to users.
                    </p>
                    <p class="card-text">
                        With Gobuster, security professionals and penetration testers can efficiently enumerate directories, uncover potential entry points, and perform thorough assessments of web applications' directory structures. It supports various wordlists, extensions, and concurrency levels, providing flexibility in scanning and assessment.
                    </p>
                    <p class="card-text">
                        Gobuster's functionalities extend to discovering sensitive or forgotten files/directories, assisting in security assessments, and aiding in the identification of potential vulnerabilities.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Nmap</h3>
                    <p class="card-text">
                        Nmap, short for "Network Mapper," is a robust open-source network scanning tool used for host discovery, service and OS detection, and comprehensive port scanning. It stands as one of the most popular and powerful tools in the realm of network exploration and security auditing.
                    </p>
                    <p class="card-text">
                        Nmap's versatility allows users to probe networks, identify hosts, map their topology, and uncover details about running services and their versions. It supports various scan types, including SYN, UDP, and comprehensive TCP scans, providing a thorough examination of networked systems.
                    </p>
                    <p class="card-text">
                        Security professionals, system administrators, and ethical hackers rely on Nmap to assess network security, identify potential vulnerabilities, and perform thorough reconnaissance tasks. Its rich set of features and comprehensive scanning capabilities make it a go-to tool in network security assessments.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="bg-dark py-5 mt-5">
    <div class="container text-light text-center">
        <p class="display-6 mb-3"> Gobuster and Nmap Web Application </p>
        <small class="text-white-50">CSP650 - UiTM Jasin - 2023-2024</small>
    </div>
</footer>